<% layout("/layouts/boilerplate") %>
<body>
    <div class="contener">
        <h3>All Listings</h3>
        <!-- <a href="/listings/new">Add New Listings</a> -->
        <ul>
            <% for(let listing of listings){ %>
                <li> <a href="/listings/<%=listing._id%>"><%= listing.title %></a></li>
            <% } %>
        </ul>
    </div>
</body>
