body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* navbar */
.navbar{
    border-bottom: 1px solid;
    padding-left: 3rem !important;
    height: 5rem;
}
.nav-link{
    color: #222222 !important;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

/* footer */
.f-links a{
    text-decoration: none;
    color: black;
}

.f-links a:hover{
    text-decoration: underline;
}

.f-info{
    background-color: #ebebeb;
    height: 7rem;
    text-align: center;
    padding-top: 1.3rem;
    border-top: 1px solid;
}

.f-socials{
    font-size: 1.2rem;
}
.f-socials i{
    opacity: 0.7;
}
.f-socials i:hover{
    scale: 1.2;
    opacity: 1;
}
.f-socials i{
    margin: 0rem 0.4rem;
}

/* index */
.row a{
    text-decoration: none;
}

.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0px !important;
}

.card-text p{
    font-weight: 400 !important;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    color: red;
    opacity: 0.1;
    background-color: white;
}

/* new.ejs */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}


/* show page */

.card-img-top{
    height: 50vh;
}
.btns{
    display: flex;
    justify-content: center;
}

.edit{
    padding-right: 1rem;
}